<div>
    <h2>
        <span jhiTranslate="aresViApp.flow-audit.start.home.title">Start Process</span>
    </h2>
</div>


<form name="startForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">

        <label class="form-control-label" jhiTranslate="aresViApp.traceabilityAudit.company">Company</label>

        <div class="row">

            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                <div class="form-group">
                    <input class="form-control" [(ngModel)]="filter_company" [ngModelOptions]="{standalone: true}" placeholder="Filtro Bodega">
                </div>
            </div>

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="button"[routerLink]="['/', { outlets: { popup: ['company-new'] } }]">
                        <i class="fa fa-plus"></i>
                        <span  jhiTranslate="aresViApp.company.home.createLabel">
                        Create new Company
                    </span>
                    </button>
                </div>
            </div>

        </div>

        <select class="form-control" name="company" [(ngModel)]="traceabilityAudit.companyId" size="5" (change)="changeCompanyId()">
            <option *ngFor = "let c of companies |filter:filter_company" [value]="c.id">
                {{c.name}} ( {{c.identifier}} )
            </option>
        </select>

    </div>

    <div class="form-group">

        <label class="form-control-label" jhiTranslate="aresViApp.traceabilityAudit.company_contact_person">CompanyContactPerson</label>

        <div class="row">

            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                <select class="form-control" name="company" [(ngModel)]="traceabilityAudit.companyContactPersonId">
                    <option *ngFor = "let p of companyContactPeople">
                        {{p.last_name}}, {{p.first_name}}
                    </option>
                </select>
            </div>

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="button"[routerLink]="['/', { outlets: { popup: ['company-new'] } }]">
                        <i class="fa fa-plus"></i>
                        <span  jhiTranslate="aresViApp.company_contact_person.home.createLabel">
                            Create new CompanyContactPerson
                        </span>
                    </button>
                </div>
            </div>

        </div>
    </div>

</form>
