
<div *ngIf="cancelationTraceabilityAudit">
    <h2><span jhiTranslate="aresViApp.cancelationTraceabilityAudit.detail.title">Cancelation Traceability Audit</span> {{cancelationTraceabilityAudit.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aresViApp.cancelationTraceabilityAudit.justification">Justification</span></dt>
        <dd>
            <span>{{cancelationTraceabilityAudit.justification}}</span>
        </dd>
        <dt><span jhiTranslate="aresViApp.cancelationTraceabilityAudit.traceabilityAudit">Traceability Audit</span></dt>
        <dd>
            <div *ngIf="cancelationTraceabilityAudit.traceabilityAuditId">
                <a [routerLink]="['/traceability-audit', cancelationTraceabilityAudit.traceabilityAuditId]">{{cancelationTraceabilityAudit.traceabilityAuditName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="aresViApp.cancelationTraceabilityAudit.user">User</span></dt>
        <dd>
            {{cancelationTraceabilityAudit.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cancelation-traceability-audit/'+ cancelationTraceabilityAudit.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
