
<div *ngIf="cancellationTraceabilityAudit">
    <h2>
        <span jhiTranslate="aresViApp.cancellationTraceabilityAudit.detail.title"
              translateValues="{name: '{{cancellationTraceabilityAudit.traceabilityAuditName}}'}">
            Cancellation Traceability Audit
        </span>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="card mb-3">
        <div class="card-header">
            <span jhiTranslate="aresViApp.cancellationTraceabilityAudit.user">User</span>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{cancellationTraceabilityAudit.user.lastName}}, {{cancellationTraceabilityAudit.user.firstName}}
            </p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <span jhiTranslate="aresViApp.cancellationTraceabilityAudit.justification">Justification</span>
        </div>
        <div class="card-body">
            <p class="card-text text-justify">
                {{cancellationTraceabilityAudit.justification}}
            </p>
        </div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-secondary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
