
<div *ngIf="container">
    <h2><span jhiTranslate="aresViApp.container.detail.title">Container</span> - {{container.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aresViApp.container.participant">Participant</span></dt>
        <dd>
            <div *ngIf="container.participantId">
                <a [routerLink]="['/participant', container.participantId]">{{container.participantId}}</a>
            </div>
            <div *ngIf="!container.participantId">
                -- Sin Participante --
            </div>
        </dd>
    </dl>

    <jhi-audit-tasks [container_id]="container.id" *ngIf="container.id"></jhi-audit-tasks>

    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'container/'+ container.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
