<div>
    <h2>
        <span jhiTranslate="aresViApp.container.home.title">Containers</span>
        <button class="btn btn-primary float-right jh-create-entity create-container" [routerLink]="['/', { outlets: { popup: ['container-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aresViApp.container.home.createLabel">
            Create new Container
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="containers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="aresViApp.container.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="participantId"><span jhiTranslate="aresViApp.container.participant">Participant</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="auditProcessId"><span jhiTranslate="aresViApp.container.auditProcess">Audit Process</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let container of containers ;trackBy: trackId">
                <td><a [routerLink]="['../container', container.id ]">{{container.id}}</a></td>
                <td>{{container.name}}</td>
                <td>
                    <div *ngIf="container.participantId">
                        <a [routerLink]="['../participant', container.participantId  ]" >{{container.participantId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="container.auditProcessId">
                        <a [routerLink]="['../audit-process', container.auditProcessId  ]" >{{container.auditProcess.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../container', container.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'container/'+ container.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'container/'+ container.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="containers && containers.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
