
<div *ngIf="recommendation">
    <h2>{{recommendation.name}}</h2>
    <hr>

    <jhi-alert-error></jhi-alert-error>

    <form name="auditForm" (ngSubmit)="save()" novalidate #auditForm="ngForm">

        <div class="card mb-3">
            <div class="card-body">
                <h4>
                    <span jhiTranslate="aresViApp.recommendation.levelComputerization">Level Computerization</span>
                </h4>
                <select class="form-control" name="level_computerization" [(ngModel)]="recommendation.levelComputerization">>
                    <option value="null">
                        -- Seleccione un Nivel de Infomatización --
                    </option>
                    <option value="1">
                        Sistema de trazabilidad automatizado e integrado al resto de los sistemas de la bodega
                    </option>
                    <option value="2">
                        Sistema de trazabilidad automatizado no integrado al resto de los sistemas de la bodega con persistencia de datos igual o mayor a 3 años
                    </option>
                    <option value="3">
                        Sistema de trazabilidad automatizado no integrado al resto de los sistemas de la bodega con persistencia de menor a 3 años
                    </option>
                    <option value="4">
                        Sistema semi-automatizado (excel u otros) que lleve la trazabilidad de la bodega
                    </option>
                    <option value="5">
                        Se registra la trazabilidad en forma manual, o registros esporádicos o no se registra
                    </option>
                </select>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">

                <h4>Procesos: </h4>

                <div class="list-group">
                    <div *ngFor="let auditProcessRecom of recommendation.auditProcessRecommendationSet">
                        <a [routerLink]="['/audit-process-recommendation', auditProcessRecom.id ]"
                           *ngIf="auditProcessRecom.bonitaBpmCaseId < 1"
                           class="list-group-item list-group-item-action {{auditProcessRecom.reviewed ? 'list-group-item-success' : 'list-group-item-info'}}">
                            <i class="fa fa-check-square-o" aria-hidden="true" [hidden]="!auditProcessRecom.reviewed"></i>
                            {{auditProcessRecom.auditProcess.name}}
                        </a>
                        <a href="http://{{hostname}}:35407/bonita/portal/homepage" target="_blank"
                           *ngIf="auditProcessRecom.bonitaBpmCaseId > 0"
                           class="list-group-item list-group-item-action {{auditProcessRecom.reviewed ? 'list-group-item-success' : 'list-group-item-info'}}">
                            <i class="fa fa-check-square-o" aria-hidden="true" [hidden]="!auditProcessRecom.reviewed"></i>
                            {{auditProcessRecom.auditProcess.name}}
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">

                <h4>Características: </h4>

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let rar of recommendation.recommendationAttributeRecommendationSet">
                        <div class="row">
                            <div class="col">
                                <div class="">
                                    <label class="custom-control custom-checkbox m-0">
                                        <input type="checkbox" class="custom-control-input"
                                               name="field_attribute_{{rar.id}}" id="field_attribute_{{rar.id}}"
                                               [(ngModel)]="rar.implemented"  />
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">{{rar.recommendationAttributeName}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>


        <div>
            <button type="submit" [disabled]="auditForm.form.invalid || isSaving || !recommendation.levelComputerization || !allProcessReviewed" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
            <button type="button" (click)="load(recommendation.id)" class="btn btn-primary">
                <span class="fa fa-refresh"></span>&nbsp; Refrescar
            </button>
            <button type="button"
                    [routerLink]="['/traceability-audit', recommendation.traceabilityAuditId ]"
                    class="btn btn-secondary">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>

    </form>

    <div class="modal" tabindex="-1" role="dialog" [hidden]="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe src="http://0.0.0.0:35407/bonita/portal/homepage" height="100%" width="100%"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
