
<div *ngIf="recommendation">
    <h2>{{recommendation.name}}</h2>
    <hr>

    <jhi-alert-error></jhi-alert-error>

    <div class="card mb-3">
        <div class="card-body">
            <h3>
                <span jhiTranslate="aresViApp.recommendation.qualification">Qualification</span>:
                <small>{{recommendation.qualification ? recommendation.qualification : "-- Sin Calificación --" }}</small>
            </h3>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h4>Procesos: </h4>

            <div class="list-group">
                <a *ngFor="let auditProcessRecom of recommendation.auditProcessRecommendationSet"
                   [routerLink]="['/audit-process-recommendation', auditProcessRecom.id ]"
                   class="list-group-item list-group-item-action">
                    {{auditProcessRecom.auditProcess.name}}
                </a>
            </div>
        </div>
    </div>

    <button type="submit"
            [routerLink]="['/traceability-audit', recommendation.traceabilityAuditId ]"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'recommendation/'+ recommendation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="aresViApp.recommendation.action.qualify"> Qualify</span>
    </button>
</div>
