<div>
    <h3>
        <span jhiTranslate="aresViApp.attribute.home.title">Attributes</span>
        <button class="btn btn-primary float-right jh-create-entity create-attribute" [routerLink]="['/', { outlets: { popup: ['attribute-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aresViApp.attribute.home.createLabel">
            Create new Attribute
            </span>
        </button>
    </h3>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="attributes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="aresViApp.attribute.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="required"><span jhiTranslate="aresViApp.attribute.required">Required</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weightingId"><span jhiTranslate="aresViApp.attribute.weighting">Weighting</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attribute of attributes ;trackBy: trackId">
                <td><a [routerLink]="['/attribute', attribute.id ]">{{attribute.id}}</a></td>
                <td>{{attribute.name}}</td>
                <td><span jhiTranslate="global.value.boolean.{{attribute.required}}">{{attribute.required}}</span></td>
                <td>
                    <div *ngIf="attribute.weightingId">
                        <a [routerLink]="['/weighting', attribute.weightingId  ]" >Nivel {{attribute.weighting.value}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/attribute', attribute.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attribute/'+ attribute.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attribute/'+ attribute.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
