
<div *ngIf="auditTask">
    <h2><span jhiTranslate="aresViApp.auditTask.detail.title">Audit Task</span> - {{auditTask.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <jhi-category-attributes [audit_task_id]="auditTask.id" *ngIf="auditTask.id"></jhi-category-attributes>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'audit-task/'+ auditTask.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
