<div>
    <h2>
        <span jhiTranslate="aresViApp.auditTask.home.title">Audit Tasks</span>
        <button class="btn btn-primary float-right jh-create-entity create-audit-task" [routerLink]="['/', { outlets: { popup: ['audit-task-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aresViApp.auditTask.home.createLabel">
            Create new Audit Task
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="auditTasks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="aresViApp.auditTask.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="containerId"><span jhiTranslate="aresViApp.auditTask.container">Container</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let auditTask of auditTasks ;trackBy: trackId">
                <td><a [routerLink]="['../audit-task', auditTask.id ]">{{auditTask.id}}</a></td>
                <td>{{auditTask.name}}</td>
                <td>
                    <div *ngIf="auditTask.containerId">
                        <a [routerLink]="['../container', auditTask.containerId  ]" >{{auditTask.container.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../audit-task', auditTask.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'audit-task/'+ auditTask.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'audit-task/'+ auditTask.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="auditTasks && auditTasks.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
