<div class="row">
    <div class="col-md-12">
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert auto-hide alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>
        </div>

        <div class="jumbotron">
            <span class="hipster img-fluid rounded"></span>
            <p class="lead text-center"></p>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-4 text-center">
                    <a class="btn btn-lg btn-success btn-block" routerLink="process/audit/dashboard">
                        <span jhiTranslate="global.menu.flow.dashboard_audit">Dashboards Audit</span>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>
