
<div *ngIf="traceabilityAudit">
    <h2>{{traceabilityAudit.name}}
        <span class="badge badge-success" [hidden]="!traceabilityAudit.category">
            <span jhiTranslate="aresViApp.traceabilityAudit.category">Category</span>
            {{traceabilityAudit.category}}
        </span>
    </h2>
    <hr/>
    <jhi-alert-error></jhi-alert-error>

    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aresViApp.traceabilityAudit.finishedDate">Finished Date</span></dt>
        <dd>
            <span>{{traceabilityAudit.finishedDate | date: 'dd/MM/yyyy HH:mm'}}</span>
        </dd>
        <dt><span jhiTranslate="aresViApp.traceabilityAudit.company">Company</span></dt>
        <dd>
            <div *ngIf="traceabilityAudit.companyId">
                <a [routerLink]="['/company', traceabilityAudit.companyId]">{{traceabilityAudit.company.name}} ({{traceabilityAudit.company.identifier}})</a>
            </div>
        </dd>
        <dt><span jhiTranslate="aresViApp.traceabilityAudit.company_contact_person">Company Contact Person</span></dt>
        <dd>
            <div *ngIf="traceabilityAudit.companyContactPersonId">
                <a [routerLink]="['/', { outlets: { popup: 'company/' + traceabilityAudit.companyId + '/company-contact-person/' + traceabilityAudit.companyContactPersonId}}]">
                    {{traceabilityAudit.companyContactPerson.last_name}}, {{traceabilityAudit.companyContactPerson.first_name}}
                </a>
            </div>
        </dd>
        <dt><span jhiTranslate="aresViApp.traceabilityAudit.status">Status</span></dt>
        <dd>
            <span jhiTranslate="aresViApp.traceabilityAudit.status_values.{{traceabilityAudit.status}}">{{traceabilityAudit.status}}</span>
        </dd>
        <dt><span jhiTranslate="aresViApp.recommendation.auditor">Auditor</span></dt>
        <dd>
            {{traceabilityAudit.recommendationSet[0].auditor.user.lastName}}, {{traceabilityAudit.recommendationSet[0].auditor.user.firstName}}
        </dd>
        <dt *ngIf="traceabilityAudit.category"><span jhiTranslate="aresViApp.traceabilityAudit.category">Category</span></dt>
        <dd *ngIf="traceabilityAudit.category">
            <span jhiTranslate="aresViApp.traceabilityAudit.category">Category</span> {{traceabilityAudit.category}}

        </dd>
    </dl>

    <hr *jhiHasAnyAuthority="['ROLE_AUDITOR_EXTERNAL']" [hidden]="traceabilityAudit.recommendationSet[0].auditor.user.id != account.id"/>

    <div class="card" *jhiHasAnyAuthority="['ROLE_AUDITOR_EXTERNAL']"
         [hidden]="traceabilityAudit.status == 'STATUS_FINISHED' || traceabilityAudit.recommendationSet[0].auditor.user.id != account.id ">
        <div class="card-body">
            <a class="btn btn-success btn-block btn-lg"
               [routerLink]="['/recommendation', traceabilityAudit.recommendationSet[0].id]">
                <span class="fa fa-file-text-o"></span>
                {{actionText}}
            </a>
        </div>
    </div>

    <div *ngFor="let recommendation of traceabilityAudit.recommendationSet" [hidden]="traceabilityAudit.status == 'STATUS_IN_PROGRESS'">

    <div class="card" *ngFor="let auditProcessRecom of recommendation.auditProcessRecommendationSet">

        <h3 class="card-header bg-primary text-white">
            <span jhiTranslate="aresViApp.auditProcess.detail.title">Process</span>:
            {{auditProcessRecom.auditProcess.name}}
            <button type="button" class="btn btn-outline-light"
                    [hidden]="auditProcessRecom.description.length < 1"
                    (click)="openModalDescription(modal_description, auditProcessRecom.description, auditProcessRecom.standardObservation)">
                <i class="fa fa-file-text-o"></i>
            </button>
        </h3>

        <div class="card-body">

            <ul class="list-group">
                <li class="list-group-item p-0" *ngFor="let auditTaskRecom of auditProcessRecom.auditTaskRecommendationSet">

                    <h4 class="mb-1 p-3 w-100 bg-light">
                        {{auditTaskRecom.auditTask.name}}
                        <small class="text-secondary">({{auditTaskRecom.revisedDate | date: 'dd/MM/yyyy HH:mm'}})</small>
                        <button type="button" class="btn btn-outline-dark btn-sm"
                                [hidden]="auditTaskRecom.description.length < 1"
                                (click)="openModalDescription(modal_description, auditTaskRecom.description, auditTaskRecom.standardObservation)">
                            <i class="fa fa-file-text-o"></i>
                        </button>
                    </h4>

                    <div class="w-100" *ngFor="let categoryAttrRecom of auditTaskRecom.categoryAttrRecommendationSet">
                        <h5 class="mb-4 mt-4 px-4">
                            {{categoryAttrRecom.categoryAttribute.name}}
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                    [hidden]="categoryAttrRecom.description.length < 1"
                                    (click)="openModalDescription(modal_description, categoryAttrRecom.description)">
                                <i class="fa fa-file-text-o"></i>
                            </button>
                        </h5>
                        <ul>
                            <li *ngFor="let attributeRecom of categoryAttrRecom.attributeRecommendationSet">
                                <p class="{{attributeRecom.implemented ? 'text-success': 'text-danger' }}">
                                    {{attributeRecom.attribute.name}}
                                    <button type="button" class="btn btn-outline-dark btn-sm"
                                            [hidden]="attributeRecom.description.length < 1"
                                            (click)="openModalDescription(modal_description, attributeRecom.description)">
                                        <i class="fa fa-file-text-o"></i>
                                    </button>
                                </p>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>

        </div>

    </div>

    </div>

    <hr/>

    <nav class="navbar fixed-bottom navbar-light bg-secondary" [hidden]="traceabilityAudit.status != 'STATUS_FINISHED'">
        <button type="button"
                [routerLink]="['/process/audit/status/finished']"
                *jhiHasAnyAuthority="['ROLE_AUDITOR_EXTERNAL']"
                class="btn btn-secondary">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
    </nav>

    <div [hidden]="traceabilityAudit.status == 'STATUS_FINISHED'">

        <button type="button"
                [routerLink]="['/process/audit/status/in_progress']"
                class="btn btn-secondary">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button" [disabled]="!allRecommendationReviewed"
                [routerLink]="['/', { outlets: { popup: 'traceability-audit/'+ traceabilityAudit.id + '/finish'} }]"
                replaceUrl="true" class="btn btn-primary"
                [hidden]="traceabilityAudit.recommendationSet[0].auditor.user.id != account.id"
                *jhiHasAnyAuthority="['ROLE_AUDITOR_EXTERNAL']">
            <span class="fa fa-send"></span>
            <span class="d-none d-md-inline" jhiTranslate="aresViApp.traceabilityAudit.action.finish">Finish</span>
        </button>

    </div>

</div>


<ng-template #modal_description let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Ver Observaciones</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input name="standard_observation" id="field_standard_observation" readonly class="form-control mb-3"
               [(ngModel)]="standardObservation" >
        <textarea class="form-control" name="description" id="field_description" readonly
                  [(ngModel)]="description"></textarea>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="d('Close click')">
            <span class="fa fa-close"></span>&nbsp;<span jhiTranslate="entity.action.close">Close</span>
        </button>
    </div>
</ng-template>
