
<div *ngIf="traceabilityAudit">
    <h2>{{traceabilityAudit.name}}
        <span class="badge badge-success" ng-if="traceabilityAudit != null">
            <span jhiTranslate="aresViApp.traceabilityAudit.category">Category</span>
            {{traceabilityAudit.category}}
        </span>
    </h2>
    <hr/>
    <jhi-alert-error></jhi-alert-error>

    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aresViApp.traceabilityAudit.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{traceabilityAudit.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="aresViApp.traceabilityAudit.company">Company</span></dt>
        <dd>
            <div *ngIf="traceabilityAudit.companyId">
                <a [routerLink]="['/company', traceabilityAudit.companyId]">{{traceabilityAudit.company.name}} ({{traceabilityAudit.company.identifier}})</a>
            </div>
        </dd>
        <dt><span jhiTranslate="aresViApp.traceabilityAudit.status">Status</span></dt>
        <dd>
            <span jhiTranslate="aresViApp.traceabilityAudit.status_values.{{traceabilityAudit.status}}">{{traceabilityAudit.status}}</span>
        </dd>
        <dt><span jhiTranslate="aresViApp.traceabilityAudit.category">Category</span></dt>
        <dd>
            <span jhiTranslate="aresViApp.traceabilityAudit.category">Category</span> {{traceabilityAudit.category}}
        </dd>
    </dl>

    <hr/>

    <div class="card" *ngFor="let recommendation of traceabilityAudit.recommendationSet">

        <h3 class="card-header">{{ recommendation.name }}</h3>

        <div class="card-body">

            <ul class="list-group">
                <li class="list-group-item" *ngFor="let auditProcessRecom of recommendation.auditProcessRecommendationSet">

                    <h4 class="mb-1 w-100">
                        <span jhiTranslate="aresViApp.auditProcess.detail.title">Process</span>:
                        {{auditProcessRecom.auditProcess.name}}
                    </h4>

                    <div class="m-2 w-100" *ngFor="let auditTaskRecom of auditProcessRecom.auditTaskRecommendationSet">
                        <h5>  {{auditTaskRecom.auditTask.name}} </h5>
                        <ul>
                            <li *ngFor="let categoryAttrRecom of auditTaskRecom.categoryAttrRecommendationSet">
                                <p><strong>{{categoryAttrRecom.categoryAttribute.name}}</strong></p>
                                <ul>
                                    <li *ngFor="let attributeRecom of categoryAttrRecom.attributeRecommendationSet"  [ngSwitch]="attributeRecom.implemented">
                                        <p class="text-success" *ngSwitchCase="true">{{attributeRecom.attribute.name}}</p>
                                        <p class="text-danger" *ngSwitchCase="false">{{attributeRecom.attribute.name}}</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>

        </div>

    </div>

    <hr/>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

</div>
