
<div *ngIf="traceabilityAudit">
    <h2>{{traceabilityAudit.name}}
        <span class="badge badge-success" ng-if="traceabilityAudit != null">
            <span jhiTranslate="aresViApp.traceabilityAudit.category">Category</span>
            {{traceabilityAudit.category}}
        </span>
    </h2>
    <hr/>
    <jhi-alert-error></jhi-alert-error>

    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aresViApp.traceabilityAudit.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{traceabilityAudit.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="aresViApp.traceabilityAudit.company">Company</span></dt>
        <dd>
            <div *ngIf="traceabilityAudit.companyId">
                <a [routerLink]="['/company', traceabilityAudit.companyId]">{{traceabilityAudit.company.name}} ({{traceabilityAudit.company.identifier}})</a>
            </div>
        </dd>
        <dt><span jhiTranslate="aresViApp.traceabilityAudit.status">Status</span></dt>
        <dd>
            <span jhiTranslate="aresViApp.traceabilityAudit.status_values.{{traceabilityAudit.status}}">{{traceabilityAudit.status}}</span>
        </dd>
        <dt><span jhiTranslate="aresViApp.traceabilityAudit.category">Category</span></dt>
        <dd>
            <span jhiTranslate="aresViApp.traceabilityAudit.category">Category</span> {{traceabilityAudit.category}}
        </dd>
    </dl>

    <hr/>

    <div class="card" *ngFor="let recommendation of traceabilityAudit.recommendationSet">
        <h4 class="card-header">{{ recommendation.qualification }}</h4>
        <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <hr/>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

</div>
