
<div *ngIf="product">
    <h2><span jhiTranslate="aresViApp.product.detail.title">Product</span> {{product.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aresViApp.product.name">Name</span></dt>
        <dd>
            <span>{{product.name}}</span>
        </dd>
        <dt><span jhiTranslate="aresViApp.product.picture_url">Picture Url</span></dt>
        <dd>
            <span>{{product.picture_url}}</span>
        </dd>
        <dt><span jhiTranslate="aresViApp.product.company">Company</span></dt>
        <dd>
            <div *ngIf="product.companyId">
                <a [routerLink]="['/company', product.companyId]">{{product.companyName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="aresViApp.product.productType">Product Type</span></dt>
        <dd>
            <div *ngIf="product.productTypeId">
                <a [routerLink]="['/product-type', product.productTypeId]">{{product.productTypeName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
