<div>
    <h2 *ngIf="company_product">
        Bodega {{company_product.name}} - <span jhiTranslate="aresViApp.product.home.title">Products</span>
        <button class="btn btn-primary float-right jh-create-entity create-product"
                [routerLink]="['/', { outlets: { popup: ['company', company_product.id, 'product-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aresViApp.product.home.createLabel">
            Create new Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>

    <br/>
    <br/>

    <div *ngIf="company_product">

        <div class="card mb-4" *ngFor="let product_type of company_product.productTypes">
            <h5 class="card-header">{{product_type.name}}</h5>
            <div class="card-body">

                <ul class="list-group" *ngIf="product_type.products.length > 0">
                    <li class="list-group-item" *ngFor="let product of product_type.products ;trackBy: trackId">
                        <div style="line-height: 31px;" class="float-left">
                            {{product.name}}
                        </div>
                        <div class="float-right">
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
                                    replaceUrl="true"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/delete'} }]"
                                    replaceUrl="true"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </li>
                </ul>

                <div class="alert alert-warning" role="alert" *ngIf="product_type.products.length < 1">
                    No hay productos cargados para el tipo de producto seleccionado
                </div>

            </div>
        </div>

    </div>

    <hr>

    <button type="button"
            [routerLink]="[ '../' ]"
            class="btn btn-outline-secondary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

</div>
