<div class="modal-header">
    <h4 class="modal-title">
        <span jhiTranslate="aresViApp.company_contact_person.detail.title">Company Contact Person</span>
    </h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="close()">&times;</button>
</div>
<div class="modal-body">
    <div *ngIf="company_contact_person">
        <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="aresViApp.company_contact_person.first_name">First Name</span></dt>
            <dd>
                <span>{{company_contact_person.first_name}}</span>
            </dd>
            <dt><span jhiTranslate="aresViApp.company_contact_person.last_name">Last Name</span></dt>
            <dd>
                <span>{{company_contact_person.last_name}}</span>
            </dd>
            <dt><span jhiTranslate="aresViApp.company_contact_person.email">Email</span></dt>
            <dd>
                <span>{{company_contact_person.email}}</span>
            </dd>
            <dt><span jhiTranslate="aresViApp.company_contact_person.telephone">Telephone</span></dt>
            <dd>
                <span>{{company_contact_person.telephone}}</span>
            </dd>
            <dt><span jhiTranslate="aresViApp.company_contact_person.job_possition">Job Possition</span></dt>
            <dd>
                <span>{{company_contact_person.job_possition}}</span>
            </dd>
        </dl>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">
            <span class="fa fa-close"></span>&nbsp;<span jhiTranslate="entity.action.close">close</span>
        </button>
    </div>
</div>
