
<div *ngIf="auditProcessRecommendation">
    <h2>
        <span jhiTranslate="aresViApp.auditProcessRecommendation.detail.title"
              translateValues="{name: '{{auditProcessRecommendation.auditProcess.name}}'}">
            Audit Process Recommendation
        </span>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>


    <div class="card mb-3">
        <div class="card-body">

            <h4>Actividades: </h4>

            <div class="list-group">
                <a *ngFor="let auditTaskRecom of auditProcessRecommendation.auditTaskRecommendationSet"
                   [routerLink]="['/audit-task-recommendation', auditTaskRecom.id ]"
                   class="list-group-item list-group-item-action {{auditTaskRecom.reviewed ? 'list-group-item-success' : ''}} ">
                    {{auditTaskRecom.auditTask.name}}
                </a>
            </div>

        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h4>Descripción: </h4>
            <p>
                {{auditProcessRecommendation.description}}
            </p>
        </div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'audit-process-recommendation/'+ auditProcessRecommendation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="aresViApp.auditProcessRecommendation.action.describe"> Describe</span>
    </button>
</div>
