
<div *ngIf="auditProcessRecommendation">
    <h2>
        <span jhiTranslate="aresViApp.auditProcessRecommendation.detail.title"
              translateValues="{name: '{{auditProcessRecommendation.auditProcess.name}}'}">
            Audit Process Recommendation
        </span>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <form name="auditForm" (ngSubmit)="save()" novalidate #auditForm="ngForm">

        <div class="card mb-3">
            <div class="card-body">

                <h4>Actividades: </h4>

                <div class="list-group">
                    <a *ngFor="let auditTaskRecom of auditProcessRecommendation.auditTaskRecommendationSet"
                       [routerLink]="['/audit-task-recommendation', auditTaskRecom.id ]"
                       class="list-group-item list-group-item-action {{auditTaskRecom.reviewed ? 'list-group-item-success' : ''}}">
                        {{auditTaskRecom.auditTask.name}}
                    </a>
                </div>

            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4>Descripción: </h4>
                <textarea class="form-control" name="description" id="field_description"
                          [(ngModel)]="auditProcessRecommendation.description"></textarea>
            </div>
        </div>

        <div>
            <button type="submit" [disabled]="auditForm.form.invalid || isSaving || !allAuditTaskReviewed" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
            <button
                type="button" class="btn btn-secondary"
                [routerLink]="['/recommendation', auditProcessRecommendation.recommendationId]">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>

    </form>

</div>
